.header {
  /* background-color: #007bff; */
  width: 100%;
  color: white;
  position: fixed;
  z-index: 5;
  padding: 10px;
  position: absolute;
  top: 0;
  text-align: center;
}

.header h3 {
  color: white;
}

.logo-img-booking {
  width: 140px;
  height: auto;
  margin-bottom: 50px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 600px) {
  .header {
    background-color: inherit;
  }
  .header h3 {
    margin-top: 10px;
    color: #444;
    text-align: center;
    font-size: 2rem;
  }
}
